@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;800&display=swap');

button {
  border: none;
}

h1 {
  text-align: center;
  font-family: "Saira", sans-serif;
  letter-spacing: 1px;
}

a, a:link {
  text-decoration: none;
}

.App {
  position: relative;
}

.org-logo-TM {
  position: relative;
}

.org-logo-TM::after {
  content: "TM";
  top: 1rem;
  right: 0;
  position: absolute;
  font-size: 0.8rem;
  color: #000000;
  transform: translateX(50%);
  z-index: 44;
}